.leaflet-popup-content-wrapper {
  border-radius: 2px
}

.leaflet-container a {
  color: $black;
}

.leaflet-container a:hover {
  color: $primary;
}

.leaflet-control-layers-toggle {
	 width: 26px;
	 height: 26px;
   background-size: 20px 20px;
}
.leaflet-retina .leaflet-control-layers-toggle {
  width: 26px;
  height: 26px;
  background-size: 20px 20px;
}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 30px;
  height: 30px;
}

*.leaflet-control-layers-selector[disabled] + span {
  color: gray;
}

.navbar-dropdown {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar {
  border-bottom: 6px solid #BE1421;
}

a.navbar-item {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.navbar-item img {
  max-height: 3rem;
}

.section-header {
  background-color: #f8e7e8;
}

h1 {
  @extend .has-text-centered;
  @extend .section-header;
  @extend .box;
  @extend .is-size-3;
  @extend .is-size-4-mobile;
  @extend .has-text-weight-bold;
}

.d-content > div > p {
  padding: 32px;
}
