.leaflet-popup-content-wrapper {
  border-radius: 2px !important;
}

.leaflet-container a {
  color: $black !important;
}

.leaflet-container a:hover {
  color: $primary !important;
}

.leaflet-container a.leaflet-popup-close-button {
  color: #c3c3c3 !important;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #939393 !important;
}

.leaflet-control-layers-toggle {
	 width: 26px !important;
	 height: 26px !important;
   background-size: 20px 20px !important;
}
.leaflet-retina .leaflet-control-layers-toggle {
  width: 26px !important;
  height: 26px !important;
  background-size: 20px 20px !important;
}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 30px !important;
  height: 30px !important;
}

*.leaflet-control-layers-selector[disabled] + span {
  color: gray !important;
}

.navbar-dropdown {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar {
  @extend .red-line;
}

a.navbar-item {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.navbar-item img {
  max-height: 3rem;
}

.section-header {
  padding-left: 32px;
  padding-right: 32px;
  color: $primary;
  /* background-color: #f8e7e8; */
}

.map-header {
  background-color: #f8e7e8;
}

h1 {
  @extend .section-header;
  @extend .box;
  @extend .is-size-1;
  @extend .is-size-3-mobile;
  margin-top: 24px;
  margin-bottom: 0px !important;
  padding-bottom: 18px;
  margin-left: -32px;
  margin-right: -32px;
  font-family: $family-serif;
}

h2 {
  @extend .section-header;
  @extend .box;
  @extend .is-size-3;
  @extend .is-size-4-mobile;
  @extend .has-text-weight-bold;
  margin-top: 18px;
  margin-bottom: 0px !important;
  padding-bottom: 18px;
  margin-left: -32px;
  margin-right: -32px;
}

.side-panel-item, .side-panel-item-title {
  padding: 8px;
}

.side-panel-item-title {
  background-color: $primary;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

/*.side-panel-item:hover {
  background-color: #fafafa;
}*/

.side-panel-item-box {
  display: flex;
  box-sizing: border-box;
}

.side-panel-item-title-link {
  color: white;
}

.side-panel-item-title-link:hover {
  color: black;
}

/* Comment this until conflict with vue-backtotop is resolved
html {
  scroll-behavior: smooth;
}
*/

.fade-enter-active {
  transition: opacity 0.8s;
}

.fade-enter {
  opacity: 0;
}

.red-line {
  border-left: 10px solid $primary;
}

.two-columns {
  columns: 2 300px;
}

.inline-figure {
  break-inside: avoid-column;
}

.is-center-narrow {
  max-width: $narrow-text-width;
  margin: 0 auto;
}

.not-as-narrow {
  max-width: $not-as-narrow-text-width;
  margin: 0 auto;
}

@media only screen and (min-width: ($narrow-text-width + 400px)) {
  .is-oversized {
    width: 120%;
    margin-left: -10%;
  }
}

thead th {
  background-color: #f0d4a6 !important;
  border: solid 1px white !important;
  vertical-align: middle !important;
}

.table-in-content {
  border-collapse: separate;
}

table>tr:nth-child(odd), table>tbody>tr:nth-child(odd) {
  background-color: #F8F8F8;
}

table>tr>td, table>tbody>tr>td {
  border: solid 1px #F8F8F8 !important;
  vertical-align: middle !important;
}

table {
  border-collapse: collapse !important;
  border-spacing: 0px;
  width: 100%;
  border-bottom: solid 3px #f0d4a6;
}

.unit-subtitle {
  @extend .is-size-3;
  @extend .is-size-5-mobile;
  margin-top: -44px;
  padding-bottom: 44px;
}

.unit-subtitle-2 {
  @extend .is-size-5;
  @extend .is-size-6-mobile;
  @extend .has-text-weight-bold;
  margin-top: -44px;
  padding-bottom: 44px;
}

.info-icon {
  @extend .has-text-white;
  @extend .has-text-right;
  position: absolute;
  margin-top: -35px;
  right: 10px;
}

.info-icon:hover {
  @extend .has-text-grey-lighter;
}
