.leaflet-popup-content-wrapper {
  border-radius: 2px
}

.leaflet-container a {
  color: $black;
}

.leaflet-container a:hover {
  color: $primary;
}

.leaflet-control-layers-toggle {
	 width: 26px;
	 height: 26px;
   background-size: 20px 20px;
}
.leaflet-retina .leaflet-control-layers-toggle {
  width: 26px;
  height: 26px;
  background-size: 20px 20px;
}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 30px;
  height: 30px;
}

*.leaflet-control-layers-selector[disabled] + span {
  color: gray;
}

.navbar-dropdown {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar {
  @extend .red-line;
}

a.navbar-item {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.navbar-item img {
  max-height: 3rem;
}

.section-header {
  background-color: #f8e7e8;
}

h1 {
  @extend .has-text-centered;
  @extend .section-header;
  @extend .box;
  @extend .is-size-3;
  @extend .is-size-4-mobile;
  @extend .has-text-weight-bold;
  margin-top: 24px;
  margin-left: -32px;
  margin-right: -32px;
}

h2 {
  @extend .has-text-centered;
  @extend .section-header;
  @extend .box;
  @extend .is-size-4;
  @extend .is-size-5-mobile;
  @extend .has-text-weight-bold;
  margin-top: 18px;
  margin-left: -32px;
  margin-right: -32px;
}

.side-panel-item, .side-panel-item-title {
  padding: 8px;
}

.side-panel-item:hover {
  background-color: #fafafa;
}

.side-panel-item-box {
  display: flex;
  box-sizing: border-box;
}

/* Comment this until conflict with vue-backtotop is resolved
html {
  scroll-behavior: smooth;
}
*/

.fade-enter-active {
  transition: opacity 0.8s;
}

.fade-enter {
  opacity: 0;
}

.red-line {
  border-left: 10px solid $primary;
}
